<div class="banner">

</div>

<nav class="navbar navbar-expand-lg navbar-dark" style="background: rgb(3,21,53);">
    <a class="navbar-brand ml-3" href="#"><img src="../../../../assets/img/3919281.png" width="150px" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/admin/cevicheria/juanest/principal">
            <div class="spinner-grow spinner-grow-sm text-white mr-1 mb-1" role="status" style="width: 11px;height: 11px;">
              <span class="sr-only">Loading...</span>
            </div>
            <strong>Principal</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/cevicheria/juanest/principal/mesas" >
            <div class="spinner-grow spinner-grow-sm text-white mr-1 mb-1" role="status" style="width: 11px;height: 11px;">
              <span class="sr-only">Loading...</span>
            </div>
            <strong>Mesas</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/cevicheria/juanest/principal/productos/platos">
            <div class="spinner-grow spinner-grow-sm text-white mr-1 mb-1" role="status" style="width: 11px;height: 11px;">
              <span class="sr-only">Loading...</span>
            </div>
            <strong>Platos</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/cevicheria/juanest/principal/productos/bebidas">
            <div class="spinner-grow spinner-grow-sm text-white mr-1 mb-1" role="status" style="width: 11px;height: 11px;">
              <span class="sr-only">Loading...</span>
            </div>
            <strong>Bebidas</strong></a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" routerLink="/admin/cevicheria/juanest/principal/productos/guarniciones">
            <div class="spinner-grow spinner-grow-sm text-white mr-1 mb-1" role="status" style="width: 11px;height: 11px;">
              <span class="sr-only">Loading...</span>
            </div>
            <strong>Guarniciones</strong></a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" routerLink="/cevicheria/juanest/bienvenido">
            <img src="../../../../assets/svg/door-closed-fill.svg" alt="Salir" class="mr-1">
            <small><strong>Salir</strong></small></a>
        </li>
      </ul>
    </div>

  </nav>
