<div class="container mt-md-5 mt-sm-3">
  <div class="card shadow">
    <div class="card-header">
      <h5 class="card-title m-0 text-muted"><small>FORMULARIO DE GUARNICIÓN</small></h5>
    </div>
    <div class="card-body p-5">
      <div class="container">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputId">ID</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-11.5.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
                    </svg>
                  </div>
                </div>
                <input type="text" class="form-control" id="inputId" [(ngModel)]="guarnicion.id" name="id" disabled>
              </div>

            </div>
            <div class="form-group col-md-6">
              <label for="inputNombre">Nombre</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text bg-white">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-11.5.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
                    </svg>
                  </div>
                </div>
                <input type="text" class="form-control" [(ngModel)]="guarnicion.nombre" name="nombre" id="inputNombre">
              </div>

            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputPrecio">Precio</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text bg-white">
                    <strong>s/.</strong>
                  </div>
                </div>
                <input type="text" class="form-control" id="inputPrecio" [(ngModel)]="guarnicion.precio" name="precio">
                <div class="input-group-prepend">
                  <div class="input-group-text bg-white">
                    <strong>.soles</strong>
                  </div>
                </div>
              </div>
              </div>
            <div class="form-group col-md-6">
              <label class="pb-3"></label>
              <div class="text-right">
                <button class="btn btn-secondary mr-2" routerLink="/admin/cevicheria/juanest/principal/productos/guarniciones"><strong>Cancelar</strong></button>
                <button class="btn btn-primary" role="button" (click)="crearGuarnicion()" *ngIf="!guarnicion.id else btnMesa"><strong>Guardar Cambios</strong></button>
                <ng-template #btnMesa>
                  <button class="btn btn-warning" role="button" (click)="actualizarGuarnicion()">
                    <svg width="1em" height="1em" viewBox="0 0 16 19" class="bi bi-pencil-fill mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                    <strong><strong>Editar Cambios</strong></strong></button>
                </ng-template>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="footer bg-white rounded-top text-center">
  <div class="container py-2">
    <p class="my-2"  style="color: rgb(138, 138, 138);">
      <small>&copy; Cevicheria Juanest 2021</small>
    </p>
  </div>
</div>
