<div class="row m-0 justify-content-center align-items-center vh-100">
    <div class="col-sm-4">
        <div class="card shadow">
            <div class="card-header p-1 bg-dark text-right">
            </div>
            <div class="card-body pl-5 pr-5 pt-5">
                <div class="form-group text-center">
                    <img src="https://cdn3.iconfinder.com/data/icons/essential-rounded/64/Rounded-31-512.png" width="84rem">
                </div>
              <form (submit)="validarLogin(usuario,contra)">
                <div class="form-group">
                  <label for="Usuario">Usuario</label>
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text bg-dark"></span>
                      </div>
                      <input type="text" class="form-control" placeholder="Usuario" #usuario>
                  </div>
                </div>

                <div class="form-group">
                  <label for="Contraseña">Contraseña</label>
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text bg-dark"></span>
                      </div>
                      <input type="password" class="form-control" placeholder="Contraseña" #contra>
                  </div>
                </div>

                <div class="form-group text-right">
                  <button class="btn btn-dark  mt-3 mr-2" role="button">Iniciar Sesión</button>
                  <button class="btn btn-secondary  mt-3" routerLink="/cevicheria/juanest/bienvenido" role="button">Cancelar</button>
                </div>
              </form>
            </div>

            <div class="card-footer text-center">
              <small class="text-muted">Login - Cevichería Juanest 2021</small>
          </div>
        </div>
    </div>
</div>

